/Fabric-0.19.2-1.21.11/
net/
*.jar
**/.gradle/
**/build/
**/loom-cache/
**/moddev/
**/patched-runtime-mods/
**/upstream-runtime-mods/
**/reports/
**/run/
**/run/logs/
**/run/crash-reports/
**/run/downloads/
**/run/saves/
**/run/resourcepacks/
**/run/resources/
**/run/data/
**/run/defaultconfigs/
**/run/config/
**/options.txt
**/usercache.json
**/command_history.txt
**/crash.txt
**/otherusers_logs/
**/other_mods/
**/temp_stuff/
**/docs/
**/neoforge_docs/
**/*.md
!PATCH_NOTES_4.0.0.md
!ExportedJars/PATCH_NOTES_4.0.0.md
**/.DS_Store
**/Thumbs.db
**/*.log
